{% load cms_tags menu_tags sekizai_tags %}
<!DOCTYPE html>
<html class="no-js" id="top">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

        {% render_block "css" %}
        {% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css">{% endaddtoblock %}
        {% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">{% endaddtoblock %}
        {% addtoblock "css" %}<script src="{{ STATIC_URL }}js/vendor/modernizr-2.7.1.min.js"></script>{% endaddtoblock %}

    </head>
    <body>
    {% cms_toolbar %}
        <header id="header">
            <div id="headerInnerWrapper">
                <h1>Schweizerische</h1>
                <h1 class="second">Friedensbewegung</h1>
                <h2>
                    <a href="http://www.wpc-in.org/" target="_blank">Member of World Peace Council</a>
                </h2>
            </div>
        </header>
        <nav>
            <div id="navInnerWrapper">
                <ul>
                    {% show_menu 0 %}
                    <!--<li><a href="#" title="">Unsere Welt</a></li>
                    <li><a href="#" title="" class="active">Aktuelles</a></li>
                    <li><a href="#" title="">Impressum</a></li>
                    <li><a href="#" title="">Über uns</a></li>
                    <li><a href="#" title="">Shop</a></li> -->
                </ul>
            </div>
        </nav>
        <div id="main">
            <ul id="subnav">
                {% show_sub_menu 1 %}
               <!-- <li><a href="#" title="">Unsere Welt</a></li>
                <li><a href="#" title="" class="active">Aktuelles</a></li>
                <li><a href="#" title="">Impressum</a></li>
                <li><a href="#" title="">Über uns</a></li>
                <li><a href="#" title="">Shop</a></li> -->
            </ul>
            {% block content %}
                {% placeholder "content" %}
            {% endblock content %}
            <!--
            <h1>Überschrift</h1>
            <div class="text-section">
                <h2>Kleinere Überschrift</h2>
                <img src="img/ErniAtomswklein.jpg" class="right">
                <p> sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum</p>
                <p> sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis <a href="http://www.google2.ch">dis parturient</a> montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum</p>
            </div>
            <div class="text-section">
                <h2>Unser Symbol</h2>
                <img src="img/bleistiftklein.jpg" class="left">
                <p>Die Friedenstaube mit dem Oelzweig ist ein altes Symbol der menschlichen Friedenssehnsucht. Die SCHWEIZERISCHE FRIEDENSBEWEGUNG hat seit ihrer Gr&uuml;ndung 1949 die Friedenstaube Pablo Picassos als Symbol. Nicht von ungef&auml;hr. Pablo Picasso schenkte der Weltfriedensbewegung diese Taube. Sie wurde zum weltweiten Symbol des Friedenskampfes aller V&ouml;lker.</p>
            
                <p>Mit Fr&eacute;d&eacute;ric Joliot-Curie, Pablo Neruda, Paul Robeson, Ilja Ehrenburg, Amilcar Cabral, Salvador Allende, Michail Scholochow, Martin Anderson Nex&ouml;, Anna Seghers und vielen anderen war Pablo Picasso auf dem Welt-Friedenskongress 1949 Sch&ouml;pfer der Worte im Appell an die Menschheit:</p>

                <p><strong>&laquo;Von jetzt an ist der Friede die Sache aller V&ouml;lker. Kein Mensch allein und kein Land allein, wohl aber alle gemeinsam vereint, k&ouml;nnen den Frieden verteidigen und den Krieg verhindern.&raquo;</strong></p>
            </div>
            

            <div class="text-section">
                <h2>Unser Programm</h2>
                <p>Das Programm der Schweizerischen Friedensbewegung (SFB) stimmt &uuml;berein mit den Grunds&auml;tzen der Vereinten Nationen und des Weltfriedensrates (WFR). Es entspricht den Prinzipien der auf den Frieden gerichteten Bewegung der blockfreien Staaten, den 10 Grunds&auml;tzen der Schlussakte der Konferenz f&uuml;r Sicherheit und Zusammenarbeit in Europa (KSZE,Helsinki 1975) und den Prinzipien der Organisation f&uuml;r Afrikanische Einheit (OAU).</p>
            </div>

            <div class="text-section">
                <h3>Es umfasst folgende HAUPTPUNKTE:</h3>

                <ul>
                    <li>Verbot aller Massenvernichtungswaffen, insbesondere der Atomwaffen, der chemischen und der biologischen Waffen; Schaffung atomwaffenfreien Zonen. Einstellung des Wettr&uuml;stens, R&uuml;stungsbegrenzung. Aufl&ouml;sung aller ausl&auml;ndischen Milit&auml;rst&uuml;tzpunkte auf der ganzen Welt; Aufl&ouml;sung aller Milit&auml;rbl&ouml;cke auf der ganzen Welt. Allgemeine, gleichzeitige, vollst&auml;ndige Abr&uuml;stung unter internationaler Kontrolle.</li>

                    <li>Beseitigung aller Formen der Rassendiskriminierung und des Kolonialismus.</li>

                    <li>Achtung des f&uuml;r den Frieden wesentlichen Rechts der V&ouml;lker auf Souver&auml;nit&auml;t und Unabh&auml;ngigkeit.</li>

                    <li>Achtung und unbedingte Respektierung der territorialen Integrit&auml;t der Staaten.</li>

                    <li>Nichteinmischung in die inneren Angelegenheiten der Nationen.</li>

                    <li>Handels- und kulturelle Beziehungen, die auf gegenseitigem Vorteil, Achtung und Freundschaft basieren.</li>

                    <li>Friedliche Koexistenz von Staaten mit unterschiedlicher Gesellschaftsordnung.</li>

                    <li>Abl&ouml;sung der Politik der St&auml;rke durch eine Politik der Verhandlungen zur Beilegung von Streitigkeiten zwischen den Staaten.</li>
                </ul>

                <p>F&uuml;r die Schweiz wollen wir eine aktive Sicherheits -und Aussenpolitik im Sinne dieser Grunds&auml;tze. Damit &uuml;bereinstimmend wenden wir uns gegen die fortschreitende Militarisierung der Gesellschaft und treten f&uuml;r die Herabsetzung der R&uuml;stungsausgaben sowie f&uuml;r die Schaffung einer unabh&auml;ngigen schweizerischen Friedensforschung ein.</p>

                <img src="img/Kuba_in_Bewegung.jpg" class="center">
                <p>Die Schweizerische Friedensbewegung arbeitet national und international mit allen Kr&auml;ften ohne Ausnahme zusammen, die im Sinne dieser Grunds&auml;tze t&auml;tig sind. Die SFB ist Mitglied der nationalen schweizerischen UNESCO-Kommission.</p>

            </div>


        </div>
        -->
        <footer>
            <!-- <a href="#top"><i class="fa fa-angle-up"></i></a> -->
        </footer>



        {% render_block "js" %}

        {% addtoblock "js" %}<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>{% endaddtoblock %}
        {% addtoblock "js" %}<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.11.0.min.js"><\/script>')</script>{% endaddtoblock %}
        {% addtoblock "js" %}<script src="{{ STATIC_URL }}js/plugins.js"></script>{% endaddtoblock %}
        {% addtoblock "js" %}<script src="{{ STATIC_URL }}js/main.js"></script>{% endaddtoblock %}
    </body>
</html>
