@charset "UTF-8";
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 13, ../scss/main.scss */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 25, ../scss/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 30, ../scss/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 39, ../scss/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
/* line 53, ../scss/main.scss */
audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 65, ../scss/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 75, ../scss/main.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
/* line 83, ../scss/main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles - fabian.frei@esf-frei.ch
   ========================================================================== */
/* compass imports */
/* colors */
/* line 7, ../scss/_util.scss */
#main #overlay, #main #adressOverlay, #main #paper-overlay, .image-overlay .imgContainer, #paperParent #history ul > li ul li a .hover, #main .paper div a .hover {
  text-align: center;
}
/* line 9, ../scss/_util.scss */
#main #overlay:before, #main #adressOverlay:before, #main #paper-overlay:before, .image-overlay .imgContainer:before, #paperParent #history ul > li ul li a .hover:before, #main .paper div a .hover:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 100%;
  vertical-align: middle;
  font-size: 0;
}

/* line 19, ../scss/_util.scss */
#main #overlay ul, #main #adressOverlay ul, #main #paper-overlay ul, .image-overlay .imgContainer img, #paperParent #history ul > li ul li a .hover p, #main .paper div a .hover p, #main #paper-overlay .messageInnerWrapper {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 64, ../scss/_util.scss */
.clearfix:before, footer:before, .clearfix:after, footer:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 70, ../scss/_util.scss */
.clearfix:after, footer:after {
  clear: both;
}

/* line 105, ../scss/main.scss */
html,
body {
  background-color: #FDF6E3;
}

/* important stuff */
/* apply a natural box layout model to all elements */
/* line 113, ../scss/main.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* typo and font */
@font-face {
  font-family: "nobileregular";
  src: url("font/nobile/nobile-regular-webfont.eot");
  src: url("font/nobile/nobile-regular-webfont.eot?#iefix") format("embedded-opentype"), url("font/nobile/nobile-regular-webfont.woff") format("woff"), url("font/nobile/nobile-regular-webfont.ttf") format("truetype"), url("font/nobile/nobile-regular-webfont.svg#pt_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "nobilemedium";
  src: url("font/nobile/nobile-medium-webfont.eot");
  src: url("font/nobile/nobile-medium-webfont.eot?#iefix") format("embedded-opentype"), url("font/nobile/nobile-medium-webfont.woff") format("woff"), url("font/nobile/nobile-medium-webfont.ttf") format("truetype"), url("font/nobile/nobile-medium-webfont.svg#pt_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "nobilebold";
  src: url("font/nobile/nobile-bold-webfont.eot");
  src: url("font/nobile/nobile-bold-webfont.eot?#iefix") format("embedded-opentype"), url("font/nobile/nobile-bold-webfont.woff") format("woff"), url("font/nobile/nobile-bold-webfont.ttf") format("truetype"), url("font/nobile/nobile-bold-webfont.svg#pt_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ptsans-bold";
  src: url("font/ptsans_bold_german/PTS75F-webfont.eot");
  src: url("font/ptsans_bold_german/PTS75F-webfont.eot?#iefix") format("embedded-opentype"), url("font/ptsans_bold_german/PTS75F-webfont.woff") format("woff"), url("font/ptsans_bold_german/PTS75F-webfont.ttf") format("truetype"), url("font/ptsans_bold_german/PTS75F-webfont.svg#pt_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sfb-shop";
  src: url("font/fontello/sfb-shop.eot");
  src: url("font/fontello/sfb-shop.eot?#iefix") format("embedded-opentype"), url("font/fontello/sfb-shop.woff") format("woff"), url("font/fontello/sfb-shop.ttf") format("truetype"), url("font/fontello/sfb-shop.svg#pt_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sfb-shop-new";
  src: url("font/fontello/sfb_shop_new.eot");
  src: url("font/fontello/sfb_shop_new.eot?#iefix") format("embedded-opentype"), url("font/fontello/sfb_shop_new.woff") format("woff"), url("font/fontello/sfb_shop_new.ttf") format("truetype"), url("font/fontello/sfb_shop_new.svg#pt_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 8, ../scss/_font.scss */
[class^="icon-"]:before, [class*=" icon-"]:before, [class^="icon-shop-"]:before, [class*=" icon-shop-"]:before {
  font-family: "sfb-shop";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 39, ../scss/_font.scss */
[class^="icon-shop-"]:before, [class*=" icon-shop-"]:before {
  font-family: "sfb-shop-new";
}

/* line 44, ../scss/_font.scss */
.icon-plus-circled:before {
  content: '\e800';
}

/* '' */
/* line 45, ../scss/_font.scss */
.icon-minus-circled:before {
  content: '\e801';
}

/* '' */
/* line 46, ../scss/_font.scss */
.icon-download:before {
  content: '\e810';
}

/* '' */
/* line 47, ../scss/_font.scss */
.icon-shop-resize-full:before {
  content: '\e812';
}

/* '' */
/* line 48, ../scss/_font.scss */
.icon-shop-cancel-circled:before {
  content: '\e813';
}

/* '' */
/* line 91, ../scss/_font.scss */
nav ul li a,
nav ul li a:hover, #main .pageIntro .meta p, footer, #main #shopForm #buy, #main #adressOverlay form ul + input, #main #overlay .overlayButtonWrapper a, #main #adressOverlay .overlayButtonWrapper a, #main #paper-overlay .overlayButtonWrapper a {
  font-family: 'nobilebold', arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* line 98, ../scss/_font.scss */
p,
li,
a,
td, #main .pageIntro .meta p .date span,
#main .pageIntro .meta p .author span, #main table#cart tr td, #paperParent #keywords .articles li h1,
#paperParent #keywords .articles li h2 {
  font-family: 'nobileregular', arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* line 104, ../scss/_font.scss */
h2,
h3,
h4, strong, header h2 a,
header h2 a:visited,
#header h2 a,
#header h2 a:visited, #main .pageIntro p, #main table#cart tr th, #main #noJs, #paperParent #keywords .articles li h1 {
  font-family: 'nobilemedium', arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* line 110, ../scss/_font.scss */
h1 {
  font-family: 'nobilebold', arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* line 116, ../scss/_font.scss */
#main .money .right h1, #main .money .left td.numbers, #main #shop2 > li .articles > ul li .controls span,
#main #shop2 > li .articles > ul li .controls a, #main #shop2 > .cms_plugin > li .articles > ul li .controls span,
#main #shop2 > .cms_plugin > li .articles > ul li .controls a, #main #shop2 > li .priceElement, #main #shop2 > .cms_plugin > li .priceElement {
  font-family: 'ptsans-bold', arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* line 123, ../scss/_font.scss */
nav ul li a,
nav ul li a:hover, #main .pageIntro .meta p, footer, #main #shopForm #buy, #main #adressOverlay form ul + input, #main #overlay .overlayButtonWrapper a, #main #adressOverlay .overlayButtonWrapper a, #main #paper-overlay .overlayButtonWrapper a {
  font-size: 12px;
  font-size: 0.75019rem;
  line-height: 28px;
  line-height: 1.75rem;
  line-height: 28px;
  line-height: 1.75rem;
}

/* line 126, ../scss/_font.scss */
p,
li,
a,
td, strong, #main table#cart tr th, #main table#cart tr td, #main #noJs, #paperParent #keywords .articles li h1,
#paperParent #keywords .articles li h2 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 28px;
  line-height: 1.75rem;
  line-height: 28px;
  line-height: 1.75rem;
}

/* line 129, ../scss/_font.scss */
h2,
h3,
h4, #main .box h3 {
  font-size: 21px;
  font-size: 1.333rem;
  line-height: 28px;
  line-height: 1.75rem;
  line-height: 35px;
  line-height: 2.1875rem;
}

/* line 132, ../scss/_font.scss */
h1 {
  font-size: 28px;
  font-size: 1.77688rem;
  line-height: 56px;
  line-height: 3.5rem;
  line-height: 35px;
  line-height: 2.1875rem;
}

/* line 135, ../scss/_font.scss */
header h1,
#header h1 {
  font-size: 38px;
  font-size: 2.36856rem;
  line-height: 56px;
  line-height: 3.5rem;
  line-height: 35px;
  line-height: 2.1875rem;
}

/* line 119, ../scss/main.scss */
h1 {
  color: #00407A;
}

/* line 124, ../scss/main.scss */
h2,
h3,
h4 {
  color: #00407A;
}

/* line 132, ../scss/main.scss */
p,
li,
a,
td {
  color: #324A53;
}

/* line 140, ../scss/main.scss */
strong {
  color: #00407A;
}

/* line 146, ../scss/main.scss */
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  z-index: 1000;
}

/* line 155, ../scss/main.scss */
a {
  color: #00407A;
  text-decoration: underline;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 159, ../scss/main.scss */
a:hover {
  text-decoration: underline;
}
/* line 162, ../scss/main.scss */
a:hover, a:visited {
  color: #C5B893;
}

/* wrappers */
/* line 170, ../scss/main.scss */
.outerWrapper, header,
#header, nav ul, #main, footer {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 0.5em 0 0.5em;
}

/* components */
/* line 183, ../scss/main.scss */
header,
#header {
  margin-bottom: 4em;
  margin-top: 2.2em;
}
/* line 188, ../scss/main.scss */
header h1,
#header h1 {
  line-height: 1.2;
  letter-spacing: 0.09em;
  word-spacing: 0.12em;
  padding: 0.2em 0 0 0;
  margin-bottom: 0;
  margin-top: 0;
}
/* line 196, ../scss/main.scss */
header h1.second,
#header h1.second {
  margin-top: 0;
  padding-top: 0;
}
/* line 201, ../scss/main.scss */
header h2,
#header h2 {
  font-size: 0.8em;
  text-align: left;
}
/* line 204, ../scss/main.scss */
header h2 a,
header h2 a:visited,
#header h2 a,
#header h2 a:visited {
  color: #00407A;
  text-decoration: none;
}

/*** helpers ***/
/* line 1, ../scss/_arrow.scss */
.arrow_box {
  position: relative;
  border-bottom: 1px solid #00407A;
  /*&:before {
  	border-color: transparent;
  	border-top-color: $emphasize;
  	border-width: 37px;
  	margin-left: -37px;
  }*/
}
/* line 4, ../scss/_arrow.scss */
.arrow_box:before, .arrow_box:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 15, ../scss/_arrow.scss */
.arrow_box:after {
  border-color: transparent;
  border-top-color: #00407A;
  border-width: 5px;
  margin-left: -5px;
}

/* line 7, ../scss/_util.scss */
#main #overlay, #main #adressOverlay, #main #paper-overlay, .image-overlay .imgContainer, #paperParent #history ul > li ul li a .hover, #main .paper div a .hover {
  text-align: center;
}
/* line 9, ../scss/_util.scss */
#main #overlay:before, #main #adressOverlay:before, #main #paper-overlay:before, .image-overlay .imgContainer:before, #paperParent #history ul > li ul li a .hover:before, #main .paper div a .hover:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 100%;
  vertical-align: middle;
  font-size: 0;
}

/* line 19, ../scss/_util.scss */
#main #overlay ul, #main #adressOverlay ul, #main #paper-overlay ul, .image-overlay .imgContainer img, #paperParent #history ul > li ul li a .hover p, #main .paper div a .hover p, #main #paper-overlay .messageInnerWrapper {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 64, ../scss/_util.scss */
.clearfix:before, footer:before, .clearfix:after, footer:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 70, ../scss/_util.scss */
.clearfix:after, footer:after {
  clear: both;
}

/*** components ***/
/* line 7, ../scss/_nav.scss */
nav {
  background-color: #4B7698;
  color: #FDF6E3;
  width: 100%;
}
/* line 11, ../scss/_nav.scss */
nav ul {
  list-style-type: none;
  padding: 0 1em;
}
/* line 15, ../scss/_nav.scss */
nav ul li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}
/* line 18, ../scss/_nav.scss */
nav ul li a,
nav ul li a:hover {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  padding: 1em 1.6em;
  color: #FDF6E3;
}
/* line 30, ../scss/_nav.scss */
nav ul li.selected > a {
  cursor: default;
  color: #4B7698;
  background-color: #FDF6E3;
}
/* line 37, ../scss/_nav.scss */
nav ul li.ancestor > a {
  color: #3a5b76;
}
/* line 41, ../scss/_nav.scss */
nav ul li > ul {
  z-index: -100;
  -moz-transition: right 0.35s ease-in-out, opacity 0.2s linear;
  -o-transition: right 0.35s ease-in-out, opacity 0.2s linear;
  -webkit-transition: right 0.35s ease-in-out, opacity 0.2s linear;
  transition: right 0.35s ease-in-out, opacity 0.2s linear;
  padding: 0;
  background-color: #3a5b76;
  position: relative;
  border-bottom: 1px solid #3a5b76;
  /*&:before {
  	border-color: transparent;
  	border-top-color: $emphasize;
  	border-width: 37px;
  	margin-left: -37px;
  } */
  position: absolute;
  top: 88%;
  right: -20%;
  opacity: 0;
}
/* line 32, ../scss/_arrow.scss */
nav ul li > ul:before, nav ul li > ul:after {
  top: -16px;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 49, ../scss/_arrow.scss */
nav ul li > ul:after {
  border-color: transparent;
  border-bottom-color: #3a5b76;
  border-width: 8px;
  margin-left: -8px;
}
/* line 52, ../scss/_nav.scss */
nav ul li > ul li {
  width: 100%;
}
/* line 54, ../scss/_nav.scss */
nav ul li > ul li.selected a {
  background-color: #3a5b76;
}
/* line 59, ../scss/_nav.scss */
nav ul li:hover > ul {
  right: 0;
  opacity: 1;
  z-index: 100;
}

/* line 67, ../scss/_nav.scss */
.edit #newNav {
  top: 30px;
}

/* line 3, ../scss/_intro.scss */
#main .pageIntro .meta img {
  min-width: 100%;
}
/* line 6, ../scss/_intro.scss */
#main .pageIntro .meta p {
  text-transform: uppercase;
  font-size: 80%;
  margin-left: 0;
}
/* line 12, ../scss/_intro.scss */
#main .pageIntro .meta p .date,
#main .pageIntro .meta p .author {
  color: #00192E;
}
/* line 15, ../scss/_intro.scss */
#main .pageIntro .meta p .date span,
#main .pageIntro .meta p .author span {
  color: #324A53;
}
/* line 20, ../scss/_intro.scss */
#main .pageIntro .meta p .author {
  margin-right: 0.5em;
}

/* line 3, ../scss/_content.scss */
#main {
  padding: 0;
}
/* line 7, ../scss/_content.scss */
#main #subnav {
  display: none;
  float: left;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
/* line 14, ../scss/_content.scss */
#main p {
  margin: 1em 3.125em;
}
/* line 21, ../scss/_content.scss */
#main .text-section p:first-of-type {
  margin-top: 0;
}
/* line 26, ../scss/_content.scss */
#main span.plugin_picture {
  max-width: 25%;
  min-width: 25%;
}
/* line 29, ../scss/_content.scss */
#main span.plugin_picture img {
  max-width: 100%;
}
/* line 32, ../scss/_content.scss */
#main span.plugin_picture.align-left {
  float: left;
  margin: 1.5em 1.5em 2.25em 0;
}
/* line 36, ../scss/_content.scss */
#main span.plugin_picture.align-right {
  float: right;
  margin: 1.5em 0 2.25em 1.5em;
}
/* line 40, ../scss/_content.scss */
#main span.plugin_picture.align-center {
  float: none;
  max-width: 100%;
  width: auto;
  display: block;
  margin: 1.5em auto;
}
/* line 46, ../scss/_content.scss */
#main span.plugin_picture.align-center img {
  display: block;
  margin: 0 auto;
}
/* line 52, ../scss/_content.scss */
#main > ul {
  list-style-type: square;
}
/* line 54, ../scss/_content.scss */
#main > ul > li {
  padding-bottom: 0.5em;
}
/* line 56, ../scss/_content.scss */
#main > ul > li:last-child {
  padding: 0;
}

/* line 1, ../scss/_teaser.scss */
#main #teaser,
#main #small-teaser {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 6, ../scss/_teaser.scss */
#main #teaser li,
#main #small-teaser li {
  position: relative;
  overflow: hidden;
  margin-bottom: 1.5em;
  height: 16.57994em;
}
/* line 11, ../scss/_teaser.scss */
#main #teaser li img,
#main #small-teaser li img {
  min-height: 100%;
  min-width: 100%;
}
/* line 15, ../scss/_teaser.scss */
#main #teaser li .meta,
#main #small-teaser li .meta {
  -moz-transition: bottom 0.75s;
  -o-transition: bottom 0.75s;
  -webkit-transition: bottom 0.75s;
  transition: bottom 0.75s;
  padding: 0 1em;
  color: #FDF6E3;
  background-color: #00192E;
  background-color: rgba(0, 25, 46, 0.6);
  position: absolute;
  bottom: 0%;
  width: 100%;
}
/* line 24, ../scss/_teaser.scss */
#main #teaser li .meta h2,
#main #small-teaser li .meta h2 {
  color: #FDF6E3;
  margin-right: 1em;
  display: inline-block;
}
/* line 29, ../scss/_teaser.scss */
#main #teaser li .meta span,
#main #small-teaser li .meta span {
  font-size: 80%;
}
/* line 33, ../scss/_teaser.scss */
#main #teaser li p,
#main #small-teaser li p {
  height: 100%;
  width: 100%;
  color: #FDF6E3;
  padding: 1em 1em;
  margin: 0;
  position: absolute;
  top: 100%;
  background-color: #00192E;
  background-color: rgba(0, 25, 46, 0.6);
  -moz-transition: top 0.75s;
  -o-transition: top 0.75s;
  -webkit-transition: top 0.75s;
  transition: top 0.75s;
}
/* line 46, ../scss/_teaser.scss */
#main #teaser li:hover .meta,
#main #small-teaser li:hover .meta {
  bottom: 100%;
}
/* line 49, ../scss/_teaser.scss */
#main #teaser li:hover p,
#main #small-teaser li:hover p {
  top: 0%;
}

/* line 56, ../scss/_teaser.scss */
#main #small-teaser {
  vertical-align: top;
}
/* line 58, ../scss/_teaser.scss */
#main #small-teaser li {
  width: 23.475%;
  display: inline-block;
  margin-right: 1.5%;
}
/* line 62, ../scss/_teaser.scss */
#main #small-teaser li:nth-of-type(4n) {
  margin-right: 0;
}
/* line 65, ../scss/_teaser.scss */
#main #small-teaser li.noImage {
  border: 1px solid #00407A;
  -moz-transition: border-color 0.75s;
  -o-transition: border-color 0.75s;
  -webkit-transition: border-color 0.75s;
  transition: border-color 0.75s;
}
/* line 68, ../scss/_teaser.scss */
#main #small-teaser li.noImage:hover {
  border-color: #FDF6E3;
}
/* line 71, ../scss/_teaser.scss */
#main #small-teaser li.noImage a {
  text-decoration: none;
}
/* line 74, ../scss/_teaser.scss */
#main #small-teaser li.noImage .meta,
#main #small-teaser li.noImage p,
#main #small-teaser li.noImage h2 {
  color: #00407A;
}
/* line 79, ../scss/_teaser.scss */
#main #small-teaser li.noImage .meta,
#main #small-teaser li.noImage p {
  background-color: transparent;
  position: static;
}
/* line 84, ../scss/_teaser.scss */
#main #small-teaser li.noImage p {
  padding-top: 0;
}

/* line 2, ../scss/_boxes.scss */
#main .boxWrapper {
  float: right;
}
/* line 5, ../scss/_boxes.scss */
#main .box {
  font-size: 90%;
  margin-bottom: 1em;
  padding: 1em;
  margin: 1em;
  background-color: #00407A;
  background-color: rgba(0, 64, 122, 0.7);
  min-width: 350px;
}
/* line 13, ../scss/_boxes.scss */
#main .box ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 18, ../scss/_boxes.scss */
#main .box h3 {
  margin-top: 0;
  color: #FDF6E3;
}
/* line 23, ../scss/_boxes.scss */
#main .box a,
#main .box a:visited {
  color: #FDF6E3;
  text-decoration: none;
}
/* line 28, ../scss/_boxes.scss */
#main .box a:hover {
  color: #324A53;
}

/* line 34, ../scss/_boxes.scss */
.edit #main .boxWrapper {
  float: none;
  width: 100%;
}

/* line 1, ../scss/_footer.scss */
footer {
  margin-bottom: 2em;
  margin-top: 5em;
}
/* line 7, ../scss/_footer.scss */
footer .text-section {
  float: left;
  margin-right: 1em;
  margin-top: 1em;
}
/* line 11, ../scss/_footer.scss */
footer .text-section p {
  margin: 0;
}
/* line 16, ../scss/_footer.scss */
footer a {
  float: left;
  margin-right: 1em;
  margin-top: 1em;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 22, ../scss/_footer.scss */
footer a:visited {
  color: #00407A;
}

/* line 1, ../scss/_shop.scss */
#main #shop li, #main #overlay ul li, #main #adressOverlay ul li, #main #paper-overlay ul li {
  list-style-type: none;
  background-color: #dbdbdb;
  position: relative;
  margin-right: 1%;
  margin-bottom: 2%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 340px;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
}
/* line 12, ../scss/_shop.scss */
#main #shop li img, #main #overlay ul li img, #main #adressOverlay ul li img, #main #paper-overlay ul li img {
  display: block;
  height: 80%;
  width: auto;
  margin: 0 auto;
}
/* line 18, ../scss/_shop.scss */
#main #shop li .itemData, #main #overlay ul li .itemData, #main #adressOverlay ul li .itemData, #main #paper-overlay ul li .itemData {
  background-color: #C4C4C4;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 20%;
  width: 100%;
  padding: 0.5em 1em;
}
/* line 24, ../scss/_shop.scss */
#main #shop li .itemData h2, #main #overlay ul li .itemData h2, #main #adressOverlay ul li .itemData h2, #main #paper-overlay ul li .itemData h2,
#main #shop li .itemData p,
#main #overlay ul li .itemData p,
#main #adressOverlay ul li .itemData p,
#main #paper-overlay ul li .itemData p {
  color: #00407A;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0;
  vertical-align: baseline;
}
/* line 31, ../scss/_shop.scss */
#main #shop li .itemData p, #main #overlay ul li .itemData p, #main #adressOverlay ul li .itemData p, #main #paper-overlay ul li .itemData p {
  margin: 0 0.5em;
}

/* line 37, ../scss/_shop.scss */
#main #shop {
  padding: 0;
  margin: 0 0 2em 0;
  width: 100%;
}
/* line 41, ../scss/_shop.scss */
#main #shop li {
  /*.itemData {
  	background-color: #C4C4C4;
  	@include inline-block;
  	height: 20%;
  	width: 100%;
  	padding: 0.5em 1em;
  	h2,
  	p {
  		color: $emphasize;
  		@include inline-block;
  		margin: 0;
  		vertical-align: baseline;
  	}
  	p {
  		margin: 0 0.5em;
  	}
  }*/
}
/* line 43, ../scss/_shop.scss */
#main #shop li:nth-of-type(3n) {
  margin-right: 0;
}
/* line 49, ../scss/_shop.scss */
#main #shop li img {
  display: block;
  height: 80%;
  width: auto;
  margin: 0 auto;
}
/* line 73, ../scss/_shop.scss */
#main #shop li .children {
  display: none;
}

/* line 79, ../scss/_shop.scss */
#main table#cart {
  width: 100%;
  margin-bottom: 2em;
}
/* line 83, ../scss/_shop.scss */
#main table#cart tr th {
  text-align: left;
}
/* line 92, ../scss/_shop.scss */
#main table#cart tr th.right,
#main table#cart tr td.right {
  text-align: right;
}

/* line 99, ../scss/_shop.scss */
#main #shopForm {
  margin-top: 1em;
  width: 100%;
}
/* line 102, ../scss/_shop.scss */
#main #shopForm #buy {
  display: block;
  width: 10em;
  height: 3em;
  margin: 0 auto;
  background-color: #4B7698;
  color: #FDF6E3;
  border: none;
}
/* line 111, ../scss/_shop.scss */
#main #shopForm #buy:hover {
  background-color: #3a5b76;
}

/* line 117, ../scss/_shop.scss */
#main #noJs {
  width: 100%;
  background-color: #C4C4C4;
  padding: 1em;
  margin: 1em 0;
}
/* line 124, ../scss/_shop.scss */
#main #noJs p {
  text-align: center;
}

/* line 131, ../scss/_shop.scss */
#main #adressOverlay form {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 27%;
  min-width: 520px;
  background-color: #C4C4C4;
  padding: 1.8em 0;
}
/* line 137, ../scss/_shop.scss */
#main #adressOverlay form ul + input {
  display: block;
  width: 200px;
  margin: 0 auto;
  display: inline-block;
  height: 3em;
  margin: 0 auto;
  background-color: #4B7698;
  color: #FDF6E3;
  border: none;
  padding: 0.25em 1em;
  text-decoration: none;
}
/* line 151, ../scss/_shop.scss */
#main #adressOverlay form ul {
  padding-left: 0;
  width: 80%;
  margin: 0 auto 0.75em auto;
}
/* line 155, ../scss/_shop.scss */
#main #adressOverlay form ul li {
  display: block;
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  text-align: left;
  max-width: 100%;
  padding: 0.25em 0;
}
/* line 163, ../scss/_shop.scss */
#main #adressOverlay form ul li label {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  max-width: 350px;
  min-width: 200px;
}
/* line 168, ../scss/_shop.scss */
#main #adressOverlay form ul li input {
  display: inline;
  width: 200px;
  background-color: #FDF6E3;
  border: 1px solid #00407A;
}
/* line 174, ../scss/_shop.scss */
#main #adressOverlay form ul li .errorlist ~ input {
  border: 2px solid #E5002C;
}

/* line 182, ../scss/_shop.scss */
#main #overlay, #main #adressOverlay, #main #paper-overlay {
  display: none;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #3a5b76;
  background-color: rgba(58, 91, 118, 0.5);
}
/* line 193, ../scss/_shop.scss */
#main #overlay.show, #main .show#adressOverlay, #main .show#paper-overlay {
  display: block;
}
/* line 196, ../scss/_shop.scss */
#main #overlay ul, #main #adressOverlay ul, #main #paper-overlay ul {
  width: 65%;
  margin: 0 auto;
}
/* line 200, ../scss/_shop.scss */
#main #overlay ul li, #main #adressOverlay ul li, #main #paper-overlay ul li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
  height: auto;
  width: auto;
  max-width: 45%;
}
/* line 207, ../scss/_shop.scss */
#main #overlay ul li img, #main #adressOverlay ul li img, #main #paper-overlay ul li img {
  margin-bottom: 0.5em;
  max-width: 100%;
  height: auto;
}
/* line 212, ../scss/_shop.scss */
#main #overlay ul li i, #main #adressOverlay ul li i, #main #paper-overlay ul li i {
  font-size: 2em;
  color: #00407A;
}
/* line 216, ../scss/_shop.scss */
#main #overlay ul li .itemData, #main #adressOverlay ul li .itemData, #main #paper-overlay ul li .itemData {
  margin-top: 0.5em;
}
/* line 218, ../scss/_shop.scss */
#main #overlay ul li .itemData p, #main #adressOverlay ul li .itemData p, #main #paper-overlay ul li .itemData p {
  display: block;
}
/* line 224, ../scss/_shop.scss */
#main #overlay .overlayButtonWrapper, #main #adressOverlay .overlayButtonWrapper, #main #paper-overlay .overlayButtonWrapper {
  position: fixed;
  width: 100%;
  bottom: 30px;
}
/* line 228, ../scss/_shop.scss */
#main #overlay .overlayButtonWrapper a, #main #adressOverlay .overlayButtonWrapper a, #main #paper-overlay .overlayButtonWrapper a {
  display: inline-block;
  height: 3em;
  margin: 0 auto;
  background-color: #4B7698;
  color: #FDF6E3;
  border: none;
  padding: 0.25em 1em;
  text-decoration: none;
}
/* line 238, ../scss/_shop.scss */
#main #overlay .overlayButtonWrapper a#stop, #main #adressOverlay .overlayButtonWrapper a#stop, #main #paper-overlay .overlayButtonWrapper a#stop {
  background-color: #3a5b76;
}
/* line 241, ../scss/_shop.scss */
#main #overlay .overlayButtonWrapper a:hover, #main #adressOverlay .overlayButtonWrapper a:hover, #main #paper-overlay .overlayButtonWrapper a:hover {
  background-color: #3a5b76;
}

/* line 249, ../scss/_shop.scss */
#main .money {
  display: block;
}
/* line 251, ../scss/_shop.scss */
#main .money .right {
  float: right;
  background-color: #00407A;
  color: #FDF6E3;
  border-left: 2px solid #FDF6E3;
}
/* line 256, ../scss/_shop.scss */
#main .money .right h1,
#main .money .right p {
  color: #FDF6E3;
}
/* line 260, ../scss/_shop.scss */
#main .money .right p {
  margin: 0 1em 1em 1em;
  text-align: center;
}
/* line 264, ../scss/_shop.scss */
#main .money .right h1 {
  width: 70px;
  margin: 0.85em 0.7em 0 0.7em;
  text-align: center;
}
/* line 271, ../scss/_shop.scss */
#main .money .left {
  width: 88.5%;
  padding: 0;
  margin: 0;
  background-color: #00407A;
}
/* line 276, ../scss/_shop.scss */
#main .money .left tr {
  border-bottom: 1px solid #FDF6E3;
}
/* line 279, ../scss/_shop.scss */
#main .money .left td {
  padding: 0.2em 0.75em;
  color: #FDF6E3;
}
/* line 282, ../scss/_shop.scss */
#main .money .left td.numbers {
  text-align: right;
}
/* line 286, ../scss/_shop.scss */
#main .money .left td.equals {
  width: 4%;
  text-align: center;
}
/* line 290, ../scss/_shop.scss */
#main .money .left td.amount {
  width: 6%;
}
/* line 293, ../scss/_shop.scss */
#main .money .left td.price {
  width: 7.6%;
  border-right: 2px solid #FDF6E3;
}
/* line 297, ../scss/_shop.scss */
#main .money .left td.total {
  width: 9.6%;
}

/* line 306, ../scss/_shop.scss */
.image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background-color: #00407A;
  background-color: rgba(0, 64, 122, 0.3);
  cursor: pointer;
}
/* line 316, ../scss/_shop.scss */
.image-overlay .imgContainer {
  width: 100%;
  height: 100%;
  padding: 5% 7.5% 5% 7.5%;
}
/* line 321, ../scss/_shop.scss */
.image-overlay .imgContainer img {
  max-height: 100%;
  width: auto;
  margin: 0 auto;
  height: auto;
}

/* line 332, ../scss/_shop.scss */
#main #shop2 {
  list-style-type: none;
  padding: 0;
}
/* line 335, ../scss/_shop.scss */
#main #shop2 > li, #main #shop2 > .cms_plugin > li {
  margin: 1em 0;
  overflow: hidden;
  border: 1px solid #00407A;
}
/* line 340, ../scss/_shop.scss */
#main #shop2 > li .articles, #main #shop2 > .cms_plugin > li .articles {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position-y: -40px;
  padding: 0em 0.75em 0.5em 0.75em;
  display: block;
  position: relative;
}
/* line 347, ../scss/_shop.scss */
#main #shop2 > li .articles ::selection, #main #shop2 > .cms_plugin > li .articles ::selection {
  background-color: transparent;
}
/* line 350, ../scss/_shop.scss */
#main #shop2 > li .articles.ready, #main #shop2 > .cms_plugin > li .articles.ready {
  -moz-transition: height 0.5s ease-out;
  -o-transition: height 0.5s ease-out;
  -webkit-transition: height 0.5s ease-out;
  transition: height 0.5s ease-out;
}
/* line 356, ../scss/_shop.scss */
#main #shop2 > li .articles .overlay, #main #shop2 > .cms_plugin > li .articles .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 362, ../scss/_shop.scss */
#main #shop2 > li .articles .overlay.show, #main #shop2 > .cms_plugin > li .articles .overlay.show {
  background-color: #00407A;
  background-color: rgba(0, 64, 122, 0.3);
}
/* line 367, ../scss/_shop.scss */
#main #shop2 > li .articles .trigger, #main #shop2 > .cms_plugin > li .articles .trigger {
  padding-top: 3em;
  padding-bottom: 1em;
  cursor: pointer;
  position: relative;
  z-index: 100;
}
/* line 373, ../scss/_shop.scss */
#main #shop2 > li .articles .trigger h1, #main #shop2 > .cms_plugin > li .articles .trigger h1 {
  margin: 0;
}
/* line 376, ../scss/_shop.scss */
#main #shop2 > li .articles .trigger p, #main #shop2 > .cms_plugin > li .articles .trigger p {
  margin-left: 0;
  margin-bottom: 0;
}
/* line 381, ../scss/_shop.scss */
#main #shop2 > li .articles > ul, #main #shop2 > .cms_plugin > li .articles > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 385, ../scss/_shop.scss */
#main #shop2 > li .articles > ul li, #main #shop2 > .cms_plugin > li .articles > ul li {
  width: 32%;
  margin-right: 2%;
  height: 165px;
  position: relative;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  overflow: hidden;
  -moz-transition: all 0.3s linear 0.6s;
  -o-transition: all 0.3s linear 0.6s;
  -webkit-transition: all 0.3s linear;
  -webkit-transition-delay: 0.6s;
  transition: all 0.3s linear 0.6s;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 395, ../scss/_shop.scss */
#main #shop2 > li .articles > ul li.show, #main #shop2 > .cms_plugin > li .articles > ul li.show {
  opacity: 1;
}
/* line 398, ../scss/_shop.scss */
#main #shop2 > li .articles > ul li:nth-child(3n), #main #shop2 > li .articles > ul li.lastInRow, #main #shop2 > .cms_plugin > li .articles > ul li:nth-child(3n), #main #shop2 > .cms_plugin > li .articles > ul li.lastInRow {
  margin-right: 0;
}
/* line 403, ../scss/_shop.scss */
#main #shop2 > li .articles > ul li img, #main #shop2 > .cms_plugin > li .articles > ul li img {
  width: 100%;
  height: auto;
}
/* line 407, ../scss/_shop.scss */
#main #shop2 > li .articles > ul li h2,
#main #shop2 > li .articles > ul li p, #main #shop2 > .cms_plugin > li .articles > ul li h2,
#main #shop2 > .cms_plugin > li .articles > ul li p {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 0.45em;
}
/* line 414, ../scss/_shop.scss */
#main #shop2 > li .articles > ul li .controls, #main #shop2 > .cms_plugin > li .articles > ul li .controls {
  position: absolute;
  top: 50.5px;
  text-align: center;
  height: 64px;
  width: 100%;
}
/* line 420, ../scss/_shop.scss */
#main #shop2 > li .articles > ul li .controls span,
#main #shop2 > li .articles > ul li .controls a, #main #shop2 > .cms_plugin > li .articles > ul li .controls span,
#main #shop2 > .cms_plugin > li .articles > ul li .controls a {
  color: #00407A;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  line-height: 51px;
  font-size: 40px;
  width: 64px;
  height: 64px;
  text-decoration: none;
  cursor: pointer;
}
/* line 436, ../scss/_shop.scss */
#main #shop2 > li .priceElement, #main #shop2 > .cms_plugin > li .priceElement {
  width: 30%;
  margin: 1em auto;
  text-align: center;
  border: 1.5px solid #00407A;
}
/* line 442, ../scss/_shop.scss */
#main #shop2 > li .priceElement .amount,
#main #shop2 > li .priceElement .price,
#main #shop2 > li .priceElement .total,
#main #shop2 > li .priceElement .spacer, #main #shop2 > .cms_plugin > li .priceElement .amount,
#main #shop2 > .cms_plugin > li .priceElement .price,
#main #shop2 > .cms_plugin > li .priceElement .total,
#main #shop2 > .cms_plugin > li .priceElement .spacer {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 449, ../scss/_shop.scss */
#main #shop2 > li .priceElement .current, #main #shop2 > .cms_plugin > li .priceElement .current {
  margin: 0 auto;
  font-size: 1.2em;
}
/* line 453, ../scss/_shop.scss */
#main #shop2 > li .priceElement .prev,
#main #shop2 > li .priceElement .next, #main #shop2 > .cms_plugin > li .priceElement .prev,
#main #shop2 > .cms_plugin > li .priceElement .next {
  font-size: 0.8em;
}
/* line 457, ../scss/_shop.scss */
#main #shop2 > li .priceElement .amount, #main #shop2 > .cms_plugin > li .priceElement .amount {
  margin-right: 0.25em;
}
/* line 459, ../scss/_shop.scss */
#main #shop2 > li .priceElement .amount div, #main #shop2 > .cms_plugin > li .priceElement .amount div {
  min-width: 30px;
  text-align: right;
}
/* line 464, ../scss/_shop.scss */
#main #shop2 > li .priceElement .total, #main #shop2 > .cms_plugin > li .priceElement .total {
  margin-left: 0.25em;
}
/* line 466, ../scss/_shop.scss */
#main #shop2 > li .priceElement .total .current, #main #shop2 > .cms_plugin > li .priceElement .total .current {
  min-width: 55px;
}
/* line 470, ../scss/_shop.scss */
#main #shop2 > li .priceElement .price, #main #shop2 > .cms_plugin > li .priceElement .price {
  margin: 0 0.25em;
}
/* line 472, ../scss/_shop.scss */
#main #shop2 > li .priceElement .price div, #main #shop2 > .cms_plugin > li .priceElement .price div {
  min-width: 45px;
  text-align: right;
}

/* line 16, ../scss/_paper.scss */
#paperParent #search,
#paperParent #history,
#paperParent #keywords {
  overflow: hidden;
}
/* line 20, ../scss/_paper.scss */
#paperParent #search h1,
#paperParent #history h1,
#paperParent #keywords h1 {
  cursor: pointer;
}

/* line 25, ../scss/_paper.scss */
#message {
  display: none;
}

/* line 29, ../scss/_paper.scss */
.edit #message {
  display: block;
}

/* line 33, ../scss/_paper.scss */
#paperParent #keywords {
  position: relative;
}
/* line 35, ../scss/_paper.scss */
#paperParent #keywords .options {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
/* line 39, ../scss/_paper.scss */
#paperParent #keywords .options li {
  display: inline-block;
  background-color: #00407A;
  color: #FDF6E3;
  padding: 0.5em;
  margin: 0.25em;
  cursor: pointer;
}
/* line 48, ../scss/_paper.scss */
#paperParent #keywords .keywords {
  list-style-type: none;
  padding-left: 0;
  display: none;
}
/* line 52, ../scss/_paper.scss */
#paperParent #keywords .keywords.active {
  display: block;
}
/* line 55, ../scss/_paper.scss */
#paperParent #keywords .keywords li {
  display: inline;
  background-color: #4B7698;
  color: #FDF6E3;
  padding: 0.4em;
  margin: 0.25em;
  border: 1px solid #4B7698;
  cursor: pointer;
}
/* line 63, ../scss/_paper.scss */
#paperParent #keywords .keywords li.active {
  background-color: #FDF6E3;
  color: #4B7698;
}
/* line 69, ../scss/_paper.scss */
#paperParent #keywords .articles {
  list-style-type: none;
  padding-left: 0;
}
/* line 72, ../scss/_paper.scss */
#paperParent #keywords .articles li {
  cursor: pointer;
}
/* line 74, ../scss/_paper.scss */
#paperParent #keywords .articles li h1,
#paperParent #keywords .articles li h2 {
  display: inline;
}

/* line 90, ../scss/_paper.scss */
#paperParent #history a.pagination,
#paperParent #history a.pagination:visited {
  list-style-type: none;
  padding: 0.3em 1.1em 0.3em 0.4em;
  margin: 0 auto;
  background-color: #00407A;
  color: #FDF6E3;
  text-decoration: none;
  width: 190px;
  text-align: center;
  display: block;
}
/* line 105, ../scss/_paper.scss */
#paperParent #history ul {
  width: 100%;
  padding-left: 0;
  list-style-type: none;
}
/* line 109, ../scss/_paper.scss */
#paperParent #history ul > li {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding-bottom: 0;
}
/* line 113, ../scss/_paper.scss */
#paperParent #history ul > li img {
  max-width: 100%;
}
/* line 116, ../scss/_paper.scss */
#paperParent #history ul > li h2 {
  border-bottom: 1px solid #00407A;
}
/* line 118, ../scss/_paper.scss */
#paperParent #history ul > li h2 span {
  padding: 0 0.5em;
  border-bottom: 2px solid #00407A;
}
/* line 123, ../scss/_paper.scss */
#paperParent #history ul > li ul {
  width: 100%;
}
/* line 125, ../scss/_paper.scss */
#paperParent #history ul > li ul li {
  width: 24%;
  margin-right: 0.9%;
  max-width: 300px;
}
/* line 130, ../scss/_paper.scss */
#paperParent #history ul > li ul li.lastOnLine {
  margin-right: 0;
}
/* line 133, ../scss/_paper.scss */
#paperParent #history ul > li ul li a {
  display: block;
  position: relative;
}
/* line 136, ../scss/_paper.scss */
#paperParent #history ul > li ul li a .hover {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
/* line 144, ../scss/_paper.scss */
#paperParent #history ul > li ul li a .hover:hover {
  background-color: #00192E;
  background-color: rgba(0, 25, 46, 0.6);
}
/* line 147, ../scss/_paper.scss */
#paperParent #history ul > li ul li a .hover:hover p {
  opacity: 1;
}
/* line 152, ../scss/_paper.scss */
#paperParent #history ul > li ul li a .hover p {
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  margin: 0;
  max-width: 97%;
  opacity: 0;
  color: #FDF6E3;
}
/* line 159, ../scss/_paper.scss */
#paperParent #history ul > li ul li a .hover p:before {
  display: block;
  font-size: 2em;
  margin: 0 auto;
}

/* line 175, ../scss/_paper.scss */
#tagList {
  padding: 0;
}

/* line 179, ../scss/_paper.scss */
ul#tagHeader {
  padding: 0;
  border-bottom: 1px solid #00407A;
  list-style-type: none;
}
/* line 183, ../scss/_paper.scss */
ul#tagHeader li,
ul#tagHeader li:last-child {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 0 0.5em 0.3em 0.5em;
  cursor: pointer;
  margin-right: 1em;
}
/* line 190, ../scss/_paper.scss */
ul#tagHeader li h2,
ul#tagHeader li:last-child h2 {
  margin: 0;
}
/* line 193, ../scss/_paper.scss */
ul#tagHeader li:hover, ul#tagHeader li.active,
ul#tagHeader li:last-child:hover,
ul#tagHeader li:last-child.active {
  padding-bottom: 0.0em;
  border-bottom: 0.3em solid #00407A;
}

/* line 201, ../scss/_paper.scss */
#tagList {
  position: relative;
  border-bottom: 1px solid #00407A;
}

/* line 206, ../scss/_paper.scss */
ul#tagList ul {
  padding: 0;
  display: none;
}
/* line 209, ../scss/_paper.scss */
ul#tagList ul.active {
  display: block;
}
/* line 212, ../scss/_paper.scss */
ul#tagList ul li,
ul#tagList ul li:last-child {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 0.3em 1.1em 0.3em 0.4em;
  margin: 0;
  margin-right: 0.5em;
  margin-bottom: 0.6em;
  background-color: #00407A;
  cursor: pointer;
  color: #FDF6E3;
}
/* line 223, ../scss/_paper.scss */
ul#tagList ul li i,
ul#tagList ul li:last-child i {
  font-size: 1.2em;
  margin-left: 0;
  margin-right: 0.2em;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 229, ../scss/_paper.scss */
ul#tagList ul li i.icon-minus-circled,
ul#tagList ul li:last-child i.icon-minus-circled {
  display: none;
}
/* line 233, ../scss/_paper.scss */
ul#tagList ul li.active i.icon-minus-circled,
ul#tagList ul li:last-child.active i.icon-minus-circled {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 236, ../scss/_paper.scss */
ul#tagList ul li.active i.icon-plus-circled,
ul#tagList ul li:last-child.active i.icon-plus-circled {
  display: none;
}

/* line 247, ../scss/_paper.scss */
#container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
/* line 251, ../scss/_paper.scss */
#container .paper {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  background-color: #FDF6E3;
  padding-bottom: 2em;
  -moz-transition: left 0.75s;
  -o-transition: left 0.75s;
  -webkit-transition: left 0.75s;
  transition: left 0.75s;
}
/* line 259, ../scss/_paper.scss */
#container .paper.show {
  left: 0;
}

/* line 267, ../scss/_paper.scss */
#main .paper div a {
  float: left;
  display: block;
  width: 48%;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}
/* line 274, ../scss/_paper.scss */
#main .paper div a img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
/* line 279, ../scss/_paper.scss */
#main .paper div a .hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #00192E;
  background-color: rgba(0, 25, 46, 0.6);
}
/* line 288, ../scss/_paper.scss */
#main .paper div a .hover p {
  color: #FDF6E3;
  font-size: 2.5em;
  margin: 0 auto;
  max-width: 90%;
  line-height: 1.4;
}
/* line 295, ../scss/_paper.scss */
#main .paper div a .hover p:before {
  display: block;
  margin: 0 auto;
  margin-bottom: 0.4em;
  font-size: 1.9em;
}
/* line 304, ../scss/_paper.scss */
#main .paper div h3 {
  margin: 0;
  padding: 0 0 1em 0;
  float: right;
  width: 49%;
}
/* line 310, ../scss/_paper.scss */
#main .paper div > ul.index {
  float: right;
  padding: 0;
  display: block;
  width: 49%;
  margin: 0 auto;
  padding: 0;
}
/* line 317, ../scss/_paper.scss */
#main .paper div > ul.index li {
  width: 100%;
  max-width: 100%;
  display: block;
  padding: 0.25em 0 0.25em 0.5em;
  background-color: #FDF6E3;
  -moz-transition: all 0.7s linear 1s;
  -o-transition: all 0.7s linear 1s;
  -webkit-transition: all 0.7s linear;
  -webkit-transition-delay: 1s;
  transition: all 0.7s linear 1s;
}
/* line 324, ../scss/_paper.scss */
#main .paper div > ul.index li.show {
  color: #FDF6E3;
  background-color: #00407A;
}
/* line 330, ../scss/_paper.scss */
#main .paper div .close {
  float: right;
  display: inline-block;
  text-align: center;
  width: 20%;
  margin: 2em 29% 0 0;
  background-color: #4B7698;
  color: #FDF6E3;
  border: none;
  padding: 0.25em 1em;
  text-decoration: none;
}

/* line 347, ../scss/_paper.scss */
#main #paper-overlay .messageInnerWrapper {
  background-color: #dbdbdb;
}
/* line 350, ../scss/_paper.scss */
#main #paper-overlay .messageInnerWrapper .overlayButtonWrapper {
  position: static;
  margin: 0em auto 1em auto;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 223, ../scss/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 232, ../scss/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 248, ../scss/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 262, ../scss/main.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 279, ../scss/main.scss */
.clearfix:before, footer:before, .clearfix:after, footer:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 310, ../scss/main.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 317, ../scss/main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 322, ../scss/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 326, ../scss/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 334, ../scss/main.scss */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 339, ../scss/main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 345, ../scss/main.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 349, ../scss/main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 354, ../scss/main.scss */
  img {
    max-width: 100% !important;
  }

  /* line 358, ../scss/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 365, ../scss/main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
