{% extends "pages/sfb-base.html" %}
{% load cms_tags menu_tags sekizai_tags %}

{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/vue.js"></script>{% endaddtoblock %}

{% block content %}
    <div id="noJs">
        <p>
            Bitte JavaScript aktivieren um den Marktplatz zu nutzen
        </p>
    </div>
    <div id="overlay">
        <ul></ul>
        <div class="overlayButtonWrapper">
            <a href="#" id="go">In Warenkorb übertragen</a>
            <a href="#" id="stop">Abbrechen</a>
        </div>
    </div>
    <div id="adressOverlay">
    </div>
    <ul id="shop">
        {% placeholder "shop-content" %}
    </ul>
    <table id="cart" >
        <tr class="stay">
            <th>Produkt</th>
            <th>Menge</th>
            <th class="right">Preis</th>
        </tr>
        <tr class="stay">
            <td></td>
            <td>Total:</td>
            <td id="total" class="right"></td>
        </tr>
    </table>
    <form action="/submit" id="shopForm">
        <input type="submit" name="button" id="buy" value="Bestellen"/>
    </form>
{% endblock content %}