{% extends "pages/sfb-base.html" %}
{% load cms_tags menu_tags sekizai_tags %}



{% block content %}
    <div id="noJs">
        <p>
            Bitte JavaScript aktivieren um das Archiv zu nutzen
        </p>
    </div>
    <div id="paperParent">
        <div id="paper-overlay">

        </div>
        <div id="message">
            <div class="messageInnerWrapper">
                {% placeholder 'message' %}
                <div class="overlayButtonWrapper">
                     <a target="_blank">Fortsetzten</a>
                </div>
            </div>
        </div>
        {% placeholder 'info' %}
        {% placeholder 'search' %}
        {% placeholder 'history' %}
        {% placeholder 'tags' %}
        <div id="keywords">
            <h1>Schlagworte</h1>
            {% verbatim %}
            <ul id="tagHeader">
                <li v-repeat="tags" v-on="click: toggle(this)">
                    <h2>{{ $value }}</h2>
                </li>
            </ul>
            <ul id="tagList">
            </ul>
            {% endverbatim %}
            <div id="container">
                <ul class="articles">
                    <li>
                        <article>
                            <h1>Keine Artikel gefunden.</h1>
                        </article>
                    </li>
                </ul>
                <section class="paper">
                </section>
            </div>
        </div>
    </div>
{% endblock content %}

{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/vendor/vue.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/paper.js"></script>{% endaddtoblock %}