{% extends "pages/sfb-base.html" %}
{% load cms_tags menu_tags sekizai_tags %}

{% block content %}
    <div id="noJs">
        <p>
            Bitte JavaScript aktivieren um den Marktplatz zu nutzen
        </p>
    </div>
    <div id="overlay">
        <ul></ul>
    </div>
    <ul id="shop">
        {% placeholder "shop-content" %}
    </ul>
    <table id="cart">
        <tr>
            <th>Produkt</th>
            <th>Menge</th>
            <th class="right">Preis</th>
        </tr>
        <tr>
            <td>Karte mit Motiv</td>
            <td>2</td>
            <td class="right">2 CHF</td>
        </tr>
        <tr>
            <td></td>
            <td>Total:</td>
            <td id="total" class="right">4 CHF</td>
        </tr>
    </table>
    <form action="/submit" id="shopForm">
        <input type="hidden" name="amount" id="amount"/>
        <input type="submit" name="button" id="buy" value="Bestellen"/>
    </form>
{% endblock content %}