{% load cms_tags menu_tags sekizai_tags %}
<!DOCTYPE html>
<html class="no-js" id="top">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

        {% render_block "css" %}
        {% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css">{% endaddtoblock %}
        {% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">{% endaddtoblock %}
        {% addtoblock "css" %}<script src="{{ STATIC_URL }}js/vendor/modernizr-2.7.1.min.js"></script>{% endaddtoblock %}

    </head>
    <body {% if request.toolbar.edit_mode %} class="edit" {% endif %} >
    {% cms_toolbar %}
        <nav>
            <ul>
                {% show_menu 0 100 100 100 %}
            </ul>
        </nav>
        <header id="header">
            <div id="headerInnerWrapper">
                <h1>Schweizerische</h1>
                <h1 class="second">Friedensbewegung</h1>
                <h2>
                    <a href="http://www.wpc-in.org/" target="_blank">Member of World Peace Council</a>
                </h2>
            </div>
        </header>
        <div id="main">
            {% block content %}
            {% endblock content %}
        </div>
        <footer>
            {% static_placeholder "footer" %}
        </footer>



        {% render_block "js" %}

        {% addtoblock "js" %}<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>{% endaddtoblock %}
        {% addtoblock "js" %}<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.11.0.min.js"><\/script>')</script>{% endaddtoblock %}
        {% addtoblock "js" %}<script src="{{ STATIC_URL }}js/plugins.js"></script>{% endaddtoblock %}
        {% addtoblock "js" %}<script src="{{ STATIC_URL }}js/main.js"></script>{% endaddtoblock %}
    </body>
</html>