{% extends "pages/sfb-base.html" %}
{% load cms_tags menu_tags sekizai_tags %}


{% block content %}
<div id="noJs">
        <p>
            Bitte JavaScript aktivieren um das Archiv zu nutzen
        </p>
    </div>
    <div id="paperParent">
        <div id="paper-overlay">

        </div>
        <div id="message">
            <div class="messageInnerWrapper">
                {% placeholder 'message' %}
                <div class="overlayButtonWrapper">
                     <a target="_blank">Fortsetzten</a>
                </div>
            </div>
        </div>
        {% placeholder 'info' %}
        {% placeholder 'search' %}
        {% placeholder 'history' %}
        {% placeholder 'tags' %}
        <div id="keywords">
            <h1>Schlagworte</h1>
            {% verbatim %}
            <ul id="tagHeader">
                <li v-for="header in headers" v-on:click="toggleHeader(header)">
                    <h2>{{ header }}</h2>
                </li>
            </ul>
            <ul id="tagList">
                <li v-for="tag in tags" v-on:click="toggle(tag)" v-bind:class="{ 'active': tag.active }">
                    <i class="icon-plus-circled"></i><i class="icon-minus-circled"></i>
                    {{ tag.text }}
                </li>
            </ul>
            <div id="container" v-bind:style="overlayParentStyleObject">
                <ul class="articles">
                    <li v-show="articles.length === 0">
                        <article>
                            <h1>Keine Artikel gefunden.</h1>
                        </article>
                    </li>
                    <li v-for="article in articles" v-on:click="toggleIssue(article.fields.issue[0], article.pk)">
                            <article id="article-{{ article.pk }}">
                                <h1>{{ article.fields.title }} - {{ article.fields.subtitle }} &middot;</h1>
                                <h2>
                                    <span v-for="author in article.fields.authors">
                                        {{ author[0] }} {{ author[1] }} <span v-if="$index !== article.fields.authors.length - 1">,</span>
                                    </span>
                                &middot;</h2>
                                <h2>{{ article.fields.page }}</h2>
                            </article>
                    </li>
                </ul>
                <section class="paper" v-bind:class="{ 'show': showOverlay }" v-el:overlay-element>
                    {{{ overlayHtml }}}
                </section>
                {% endverbatim %}
            </div>
        </div>
    </div>
{% endblock content %}

{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/vendor/vue.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/paper.js"></script>{% endaddtoblock %}