{% extends "pages/sfb-base.html" %}
{% load cms_tags menu_tags sekizai_tags %}



{% block content %}
    <div id="noJs">
        <p>
            Bitte JavaScript aktivieren um den Marktplatz zu nutzen
        </p>
    </div>
    {% placeholder 'info' %}
    <div id="overlay">
        <ul></ul>
        <div class="overlayButtonWrapper">
            <a href="#" id="go">In Warenkorb übertragen</a>
            <a href="#" id="stop">Abbrechen</a>
        </div>
    </div>
    <div id="adressOverlay">
    </div>
    <div class="spacer-fixed"></div>
    <div class="money clearfix" v-price-container>
        <div class="right">
            <h1 v-text="totalPrice">20</h1>
            <p>chf</p>
        </div>
        <table class="left">
            <tr v-repeat="item : cartList">
                <td v-text="item.text"></td>
                <td v-text="item.amount" class="numbers amount" ></td>
                <td class="numbers equals">&times;</td>
                <td v-text="item.price" class="numbers price"></td>
                <td v-text="formatFloatForCHF(item.price * item.amount)" class="numbers total"></td>
            </tr>
        </table>
    </div>
<!-- <ul id="shop21">
    <li>
        <div class="articles" style="background-image: url(http://wheelsnorth.campyonly.com/images/postcards/Postcards%205-31-080031.jpg)">
            <div class="overlay show"></div>
            <h1>Postkarten</h1>
            <p>Einfache Postkarten, vorne Druck hinten Text</p>
            <ul><li> <!-- watch out for fix because of inline block
                    <img src="{{ STATIC_URL }}img/Picasso1_2.jpg" alt=""/>
                    <h2>Maternité</h2>
                </li><li>
                    <div class="controls">
                        <span class="plus icon-plus-circled"></span>
                        <span class="amount">1</span>
                        <span class="minus icon-minus-circled"></span>
                        <a class="fullscreen icon-download"></a>
                    </div>
                    <img src="{{ STATIC_URL }}img/Picasso1_2.jpg" alt=""/>
                    <h2>La colombe bleue</h2>
                </li><li>
                    <img src="{{ STATIC_URL }}img/Picasso1_2.jpg" alt=""/>
                    <h2>La colombe bleue</h2>
                </li><li>
                    <img src="{{ STATIC_URL }}img/Picasso4.jpg" alt=""/>
                    <h2>La colombe bleue</h2>
                </li><li>
                    <img src="{{ STATIC_URL }}img/Picasso1_2.jpg" alt=""/>
                    <h2>La colombe bleue</h2>
                </li>
            </ul>

        </div>
        <div class="priceElement">
            <div class="amount">
                <div class="prev">10</div>
                <div class="current">17</div>
                <div class="next">25</div>
            </div>
            <div class="spacer">
                <div class="times prev">&times;</div>
                <div class="times current">&times;</div>
                <div class="times next">&times;</div>
            </div>
            <div class="price">
                <div class="prev">1.20 CHF</div>
                <div class="current"> 0.90 CHF</div>
                <div class="next"> 0.70 CHF</div>
            </div>
            <div class="spacer">
                <div class="equals prev"></div>
                <div class="equals current">=</div>
                <div class="equals next"></div>
            </div>
            <div class="total">
                <div class="prev"></div>
                <div class="current">15.30 CHF</div>
                <div class="next"></div>
            </div>
        </div>
    </li>
</ul> -->
<div class="image-overlay" v-class="hidden: isHidden" v-on="click: toggleOverlay()">
    <div class="imgContainer">
        <img v-attr="src:imageSource" >
    </div>
</div>
    <ul id="shop2">
        {% placeholder "shop-content" %}
    </ul>
    <table id="cart" >
        <tr class="stay">
            <th>Produkt</th>
            <th>Menge</th>
            <th class="right">Preis</th>
        </tr>
        <tr class="stay">
            <td></td>
            <td>Total:</td>
            <td id="total" class="right"></td>
        </tr>
    </table>
    <form action="/submit" id="shopForm">
        <input type="submit" name="button" id="buy" value="Bestellen"/>
    </form>
{% endblock content %}

{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/vue.js"></script>{% endaddtoblock %}