.arrow_box {
	position: relative;
	border-bottom: 1px solid $emphasize;
	&:before,
	&:after {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&:after {
		border-color: transparent;
		border-top-color: $emphasize;
		border-width: 5px;//30px;
		margin-left: -5px;//-30px;
	}
	/*&:before {
		border-color: transparent;
		border-top-color: $emphasize;
		border-width: 37px;
		margin-left: -37px;
	}*/
}

@mixin arrow-box($background-color: $emphasize, $size: 10px) {
	position: relative;
	border-bottom: 1px solid $background-color;
	&:before,
	&:after {
		top: floor(-$size * 2);
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	/*&:before {
		border-color: transparent;
		border-top-color: $emphasize;
		border-width: 37px;
		margin-left: -37px;
	} */
	&:after {
		border-color: transparent;
		border-bottom-color: $background-color;
		border-width: $size;//30px;
		margin-left: -$size;//-30px;
	}
}