@include font-block('nobileregular', 'font/nobile/nobile-regular-webfont');
@include font-block('nobilemedium','font/nobile/nobile-medium-webfont');
@include font-block('nobilebold', 'font/nobile/nobile-bold-webfont');
@include font-block('ptsans-bold', 'font/ptsans_bold_german/PTS75F-webfont');
@include font-block('sfb-shop', 'font/fontello/sfb-shop');
@include font-block('sfb-shop', 'font/fontello/sfb-paper');
 
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "sfb-shop";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-plus-circled:before { content: '\e800'; } /* '' */
.icon-minus-circled:before { content: '\e801'; } /* '' */ 
.icon-download:before { content: '\e810'; } /* '' */

// The base font size
$base-font-size: 16px;
// Base line height
$base-line-height: 28px;
// Rhythm unit (Compass vertical rhythm)
$rhythm-unit: rem;

$small-font-size: 12.003px;
$small-font-leading: 1;
//$base-font-size: 18px;
$base-font-leading: 1;
$medium-font-size: 21.328px;
$medium-font-leading: 1.25;
$large-font-size: 28.43px;
$large-font-leading: 1.25;
$x-large-font-size: 37.897px;
$x-large-font-leading: 1.25;

@mixin typeSize($size) {
     @if $size == "small" {
        @include adjust-font-size-to($small-font-size);
        @include adjust-leading-to($small-font-leading);
    }
    @if $size == "base" {
        @include adjust-font-size-to($base-font-size);
        @include adjust-leading-to($base-font-leading);
    }
     @if $size == "medium" {
        @include adjust-font-size-to($medium-font-size);
        @include adjust-leading-to($medium-font-leading);
    }
    @if $size == "large" {
        @include adjust-font-size-to($large-font-size);
        @include adjust-leading-to($large-font-leading);
    }
    @if $size == "x-large" {
        @include adjust-font-size-to($x-large-font-size);
        @include adjust-leading-to($x-large-font-leading);
    }
}

%nav {
    font-family: 'nobilebold', arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    @extend %t-small;
}

%regular {
    font-family: 'nobileregular', arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

%medium {
    font-family: 'nobilemedium', arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

%bold {
    font-family: 'nobilebold', arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}


%t-small {
 @include typeSize(small);
}
%t-base {
 @include typeSize(base);
}
%t-medium {
 @include typeSize(medium);
}
%t-large {
 @include typeSize(large);
}
%t-xlarge {
 @include typeSize(x-large);
}