footer {
    @extend .outerWrapper;
    margin-bottom: 2em;
    margin-top: 5em;
    @extend .clearfix;
    @extend %nav;
    #{$textSectionName} {
    	float: left;
    	margin-right: 1em;
    	margin-top: 1em;
    	p {
    		margin: 0;

    	}
    }
    a {
    	float: left;
    	margin-right: 1em;
    	margin-top: 1em;
    	text-transform: uppercase;
        text-decoration: none;
    	&:visited {
    		color: $emphasize;
    	}
    }
}