.pageIntro {
	.meta {
		img {
			min-width: 100%;
		}
		p {
			text-transform: uppercase;
			font-size: 80%;
			word-spacing: 0.6em;
			.date,
			.author {
				color: $extra;
				span {
					color: $text;
					@extend %regular;
				}
			}
			.author {
				margin-right: 0.5em;
			}
		}
	}
	p {
		@extend %medium;
	}
}