%shopItem {
	list-style-type: none;
	background-color: lighten(#C4C4C4, 9%);
	position: relative;
	margin-right: 1%;
	margin-bottom: 2%;
	@include inline-block;
	height: 340px;
	overflow: hidden;
	padding: 0;
	cursor: pointer;
	img {
		display: block;
		height: 80%;
		width: auto;
		margin: 0 auto;
	}
	.itemData {
		background-color: #C4C4C4;
		@include inline-block;
		height: 20%;
		width: 100%;
		padding: 0.5em 1em;
		h2,
		p {
			color: $emphasize;
			@include inline-block;
			margin: 0;
			vertical-align: baseline;
		}
		p {
			margin: 0 0.5em;
		}
	}
}

#main #shop {
	padding: 0;
	margin: 0 0 2em 0;
	width: 100%;
	li {
		@extend %shopItem;
		&:nth-of-type(3n) {
			margin-right: 0;
		}
		&:hover {

		}
		img {

			display: block;
			height: 80%;
			width: auto;
			margin: 0 auto;
		}
		/*.itemData {
			background-color: #C4C4C4;
			@include inline-block;
			height: 20%;
			width: 100%;
			padding: 0.5em 1em;
			h2,
			p {
				color: $emphasize;
				@include inline-block;
				margin: 0;
				vertical-align: baseline;
			}
			p {
				margin: 0 0.5em;
			}
		}*/
		.children {
			display: none;
		}
	}
}

#main table#cart {
	width: 100%;
	margin-bottom: 2em;
	tr {
		th {
			@extend %medium;
			@extend %t-base;
			text-align: left;
		}
		td {
			@extend %regular;
			@extend %t-base;
		}
		th.right,
		td.right {
			text-align: right;
		}
	}
}

#main #shopForm {
	margin-top: 1em;
	width: 100%;
	#buy {
		display: block;
		width: 10em;
		height: 3em;
		margin: 0 auto;
		background-color: $navBackground;
		color: $background;
		border: none;
		@extend %nav;
		&:hover {
			background-color: $subNavBackground;
		}
	}
}

#main #noJs {
	width: 100%;
	background-color: #C4C4C4;
	padding: 1em;
	margin: 1em 0;
	@extend %medium;
	@extend %t-base;
	p {
		text-align: center;
	}
}

#main #adressOverlay {
	@extend #overlay;
	form {
		@include inline-block;
		width: 27%;
		min-width: 520px;
		background-color: #C4C4C4;
		padding: 1.8em 0;
		ul + input {
			display: block;
			width: 200px;
			margin: 0 auto;
			display: inline-block;
			height: 3em;
			margin: 0 auto;
			background-color: $navBackground;
			color: $background;
			border: none;
			@extend %nav;
			padding: 0.25em 1em;
			text-decoration: none;
		}
		ul {
			padding-left: 0;
			width: 80%;
			margin: 0 auto 0.75em auto;
			li {
				display: block;
				width: 100%;
				margin: 0 auto;
				background-color: transparent;
				text-align: left;
				max-width: 100%;
				padding: 0.25em 0;
				label {
					@include inline-block;
					max-width: 350px;
					min-width: 200px;
				}
				input {
					display: inline;
					width: 200px;
					background-color: $background;
					border: 1px solid $emphasize;
				}
				.errorlist ~ input {
					border: 2px solid #E5002C;
				}
			}
		}
	}
}

#main #overlay {
	display: none;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: $subNavBackground;
	background-color: rgba($subNavBackground, 0.5);
	@extend %center-parent;
	&.show {
		display: block;
	}
	ul {
		@extend %center-child;
		width: 65%;
		margin: 0 auto;
		li {
			@include inline-block;
			position: relative;
			@extend %shopItem;
			height: auto;
			width: auto;
			max-width: 45%;
			img {
				margin-bottom: 0.5em;
				max-width: 100%;
				height: auto;
			}
			i {
				font-size: 2em;
				color: $emphasize;
			}
			.itemData {
				margin-top: 0.5em;
				p {
					display: block;
				}	
			}
		}
	}
	.overlayButtonWrapper {
		position: fixed;
		width: 100%;
		bottom: 30px;
		a {
			display: inline-block;
			height: 3em;
			margin: 0 auto;
			background-color: $navBackground;
			color: $background;
			border: none;
			@extend %nav;
			padding: 0.25em 1em;
			text-decoration: none;
			&#stop {
				background-color: $subNavBackground;
			}
			&:hover {
				background-color: $subNavBackground;
			}
		}
	}
}


#main .money {
	display: block;
	.right {
		float: right;
		background-color: $emphasize;
		color: $background;
		border-left: 2px solid $background;
		h1,
		p {
			color: $background;
		}
		p {
			margin: 0 1em 1em 1em;
			text-align: center;
		}
		h1 {
			@extend %price;
			width: 70px;
			margin: 0.85em 0.7em 0 0.7em;
			text-align: center;
		}
	}
	.left {
		width: 88.5%;
		padding: 0;
		margin: 0;
		background-color: $emphasize;
		tr {
			border-bottom: 1px solid $background;
		}
		td {
			padding: 0.2em 0.75em;
			color: $background;
			&.numbers {
				text-align: right;
				@extend %price;
			}
			&.equals {
				width: 4%;
				text-align: center;
			}
			&.amount {
				width: 6%;
			}
			&.price {
				width: 7.6%;
				border-right: 2px solid $background;
			}
			&.total {
				width: 9.6%;
			}
		}
	}
}

@import "compass/css3/transition";

.image-overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10000;
	background-color: $emphasize;
	background-color: rgba($emphasize, 0.3);
	cursor: pointer;
	.imgContainer {
		width: 100%;
		height: 100%;
		padding: 5% 7.5% 5% 7.5%;
		@extend %center-parent;
			img {
			@extend %center-child;
			max-height: 100%;
			width: auto;
			margin: 0 auto;
			height: auto;
		}
	}
}


#main #shop2 {
	list-style-type: none;
	padding: 0;
	& > li,
	& > .cms_plugin > li {
		margin: 1em 0;
		overflow: hidden;
		border: 1px solid $emphasize;
		.articles {
			background-size: 100% auto;
			background-repeat: no-repeat;
			background-position-y: -40px;
			padding: 0em 0.75em 0.5em 0.75em;
			display: block;
			position: relative;
			& ::selection {
				background-color: transparent;
			}
			&.ready {
				@include transition(height 0.5s ease-out);
				.overlay {
					//@include transition(background-color 0.4s linear);
				}
			}
			.overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				&.show {
					background-color: $emphasize;
					background-color: rgba($emphasize, 0.3);
				}
			}
			.trigger {
				padding-top: 3em;
				padding-bottom: 1em;
				cursor: pointer;
				position: relative;
				z-index: 100;
				h1 {
				margin: 0;
				}
				p {
					margin-left: 0;
					margin-bottom: 0;
				}
			}
			& > ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				li {
					width: 32%;
					margin-right: 2%;
					height: 165px;
					position: relative;
					padding-bottom: 0.5em;
					margin-bottom: 1em;
					overflow: hidden;
					//opacity: 0;
					@include transition(all 0.3s linear 0.6s);
					&.show {
						opacity: 1;
					}
					&:nth-child(3n),
					&.lastInRow {
						margin-right: 0;
					}
					@include inline-block(top);
					img {
						width: 100%;
						height: auto;
					}
					h2,
					p {
						position: absolute;
						bottom: 0;
						left: 0;
						margin-left: 0.45em;
					}
					.controls {
						position: absolute;
						top: 165px/2-64px/2;
						text-align: center;
						height: 64px;
						width: 100%;
						span,
						a {
							color: $emphasize;
							@include inline-block;
							@extend %price;
							line-height: 51px;
							font-size: 40px;
							width: 64px;
							height: 64px;
							text-decoration: none;
							cursor: pointer;
						}
					}
				}
			}
		}
		.priceElement {
			 @extend %price;
			 width: 30%;
			 margin: 1em auto;
			 text-align: center;
			 border: 1.5px solid $emphasize;
			 .amount,
			 .price,
			 .total,
			 .spacer {
			 	width: auto;
			 	@include inline-block;
			 }
			 .current {
			 	margin: 0 auto;
			 	font-size: 1.2em;
			 }
			 .prev,
			 .next {
			 	font-size: 1.2em/3*2;
			 }
			 .amount {
			 	margin-right: 0.25em;
			 	div {
			 		min-width: 30px;
			 		text-align: right;
			 	}
			 }
			 .total {
			 	margin-left: 0.25em;
			 	.current {
			 		min-width: 55px;
			 	}
			 }
			 .price {
			 	margin: 0 0.25em;
			 	div {
			 		min-width: 45px;
			 		text-align: right;
			 	}
			 }
		}
	}
}