#main #shop {
	padding: 0;
	margin: 0;
	width: 100%;


	li {
		list-style-type: none;
		background-color: lighten(#C4C4C4, 9%);
		position: relative;
		margin-right: 1%;
		margin-bottom: 2%;
		@include inline-block;
		height: 340px;
		overflow: hidden;
		padding: 0;
		&:nth-of-type(3n) {
			margin-right: 0;
		}
		&:hover {

		}
		img {

			display: block;
			height: 80%;
			width: auto;
			margin: 0 auto;
		}
		/*&.high {
			max-width: 25%;
			img {
				min-height: 100%;
			}
		}
		&.wide {
			max-width: 50%;
			img {
				min-height: 100%;
			}
		}*/
		
		.itemData {
			background-color: #C4C4C4;
			@include inline-block;
			height: 20%;
			width: 100%;
			padding: 0.5em 1em;
			h2,
			p {
				color: $emphasize;
				@include inline-block;
				margin: 0;
				vertical-align: baseline;
			}
			p {
				margin: 0 0.5em;
			}
		}
	}
}

#main #shopForm {
	margin-top: 1em;
	width: 100%;
	#buy {
		display: block;
		width: 10em;
		height: 3em;
		margin: 0 auto;
		background-color: $navBackground;
		color: $background;
		border: none;
		@extend %nav;
		&:hover {
			background-color: $subNavBackground;
		}
	}
}