%center-parent {
	text-align: center;
	&:before {
		content: ' ';
		@include inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em; /* Adjusts for spacing */
	}
}

%center-child {
	@include inline-block;
	vertical-align: middle;
}